.alert-container {
    border-radius: 10px;
    background: #ff1a00;
    color: #ffffff;
    margin: 1% auto;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-message {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px;
}
