.bottom-container {
    display: flex;
    width: 100%;
    position: static;
    bottom: 80px;
    justify-content: center;
    align-items: center;
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #1b53be;
}

.pagination .current {
    background-color: #007bff;
    color: white;
}